Meta
doc
# Resilio Sync
.sync

# MAC
*Icon*
.DS_Store
# Rstudio projects
*Rproj
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.pyc
*.egg-info/
.installed.cfg
*.egg
.Rproj.user
.ipynb_checkpoints
.Rhistory

*/_build

mapping_video/
notebooks/lymph_nodes_analysis/data/V1_Human_Lymph_Node/
notebooks/results/visium_human_ln/ctype_scatter

/notebooks/results/mouse_viseum_snrna/model_*
/notebooks/results/mouse_viseum_snrna/std_model_old/signal_receptor_by_region.csv.gz
/notebooks/results/mouse_viseum_snrna/with_sample
/notebooks/results/mouse_viseum_snrna/comparison_of_Mg
/notebooks/results/mouse_viseum_snrna/joint_sc_sp
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_dir/model_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_dir/samples_*
/notebooks/results/mouse_viseum_snrna/single_cell_programme
/notebooks/results/mouse_viseum_snrna/std_model/model_*
/notebooks/results/mouse_viseum_snrna/pyro_std_model/model_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_ref/model_*
/notebooks/results/mouse_viseum_snrna/gp_model/samples_*
/notebooks/results/mouse_viseum_snrna/gp_model/model_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_dir4/samples_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_dir4/model_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_ref/samples_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_ref/model_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_shared/samples_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_shared/model_*
/notebooks/results/mouse_viseum_snrna/with_sample_Mg/model_*
/notebooks/results/mouse_viseum_snrna/astro_single_cell_programme/model_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_ref2/
.pybiomart.sqlite
/notebooks/results/mouse_viseum_snrna/std_model_old/tracking_plots/init*
/notebooks/results/mouse_viseum_snrna/std_model_old/tracking_plots_cv/init*
/notebooks/results/mouse_viseum_snrna/nb_model_comparison/
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_dir4_simp/model_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_dir4_simp/samples_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_shared_simp/model_*
/notebooks/results/mouse_viseum_snrna/joint_sc_sp_shared_simp/samples_*
/notebooks/results/mouse_viseum_snrna/astro_single_cell_programme_simp/model_*
/notebooks/results/mouse_viseum_snrna/astro_single_cell_programme_mult/model_*
/notebooks/results/mouse_viseum_snrna/simp_model_comparison/model_*
/notebooks/results/mouse_viseum_snrna/simp_model_comparison/*/init*

/notebooks/results/mouse_viseum_snrna/segmentation/results

/notebooks/results/mouse_viseum_snrna/benchmarking/seurat/*.RDS
/notebooks/results/mouse_viseum_snrna/benchmarking/AutoGeneS

init_*
model_*.p
samples_*.p
*.h5ad
cell_locations_W_*.png
